{% extends 'base.html' %}
{% block head %}
<title>Mapa</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            {% if photo.image.url != null %}
            <img src="{{ photo.image.url }}" class="img-fluid" style="width: 100%" alt="{{ photo.imagedescription }}">
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
            <div>{{ photo.article }}</div>
        </div>

    </div>
</div>

{% endblock %}