{% extends 'base.html' %}

{% block head %}
<title>Reporte Municipios</title>
{% endblock %}

{% block body%}
    <div class="container">
        <div class="row">
            <main class="col-md-10 col-md-offset-1">
                <div class="well well-md center-text">
                    <h3>Bienvenidos al Sistema<br>de Reporte de eventos del <br> Norte de Santander  </h3>
                </div>
                <p>
                    Esta es una plataforma diseñada para hacer los reportes de eventos naturales en cada uno de los 40 municipios del Norte de Santander, con el fin de estar mejor informados y actualizados
                </p>
                <p>
                    De la misma manera estos reportes seran utilizados para obtener una visión general de la Gestión del Riesgo de Desastres en el Departamento Norte de santander
                </p>
            </main>
        </div>
    </div>
{% endblock %}


