{% extends 'base.html' %}

{% block head %}
<title>Reporte Municipios</title>
{% endblock %}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="well well-sm center-text">
                <h4>Bienvenidos al Sistema de Reporte de eventos del Norte de Santander  </h4>
            </div>
            <p>Esta es una plataforma diseñada para hacer los reportes de eventos
            naturales en cada uno de los 40 municipios del Norte de Santander, con
            el fin de estar mejor informados y actualizados</p><p>De la misma manera
            estos reportes seran utilizados para obtener una visión general de la 
            Gestión del Riesgo de Desastres en el Departamento Norte de santander</p>
        </div>
        <div class="col-md-7">
            <div class="well well-sm center-text">
                <h4>Noticias de la Consejería Departamental para la Gestión del Riesgo de Desastres</h4>
            </div>
            {% for article in articles %}
            
            <div class="col-md-4">
                <h4>{{ article.headline }}</h4>
                <p>{{ article.content }}</p>
                {% if article.thumb.url != null %}
                <img src="{{ article.thumb.url }}" class="img-fluid" style="width: 100%" alt="{{ photo.imagedescription }}">
                {% endif %}
                <p>{{ article.pub_date }}</p>
            </div>
            {% empty %}
                <td> No has hecho reportes</td>
            </tr>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}


