*__pycache__*
.idea*
db.sqlite3
CDGRD/settings/local.py
ENV
sendgrid.env
.vscode/
Repmuni/media/Report_Photos/*
Repmuni/media/profile_image/*
mysqldb.cnf
CDGRD/settings/dev.py
Repmuni/media/
Repmuni/static/admin/