{% extends 'base.html' %}
{% block head %}
<title>Log In!</title>
{% endblock %}
{% block body %}
    {% if welcome == 'Mal Password' %}
        <div class="alert alert-danger">
          <strong>Ha habido un Problema</strong> Verifique sus datos e intente ingresar de nuevo
        </div>
    {% endif %}
    {% if welcome == 'invalida' %}
        <div class="alert alert-warning">
          <strong>Ha habido un Problema</strong> La forma es inválida
        </div>
    {% endif %}
    {% if welcome == 'inicio' %}
        <div class="alert alert-success">
          <strong>{{ msj }}, se ha Registrado Correctamente</strong> Por Favor Ingrese al sistema con el usuario y contraseña que creó
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>
                    Bienvenido al Sistema de Reportes de eventos de la
                    Consejería Departamental para la Gestión del Riesgo
                    de Norte de Santander.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="well">
                    <h3>Ya tengo una cuenta</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" name="button">Log In!</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="well">
                    <h3>Olvidé mi Contraseña</h3>
                    <form method="post">
                        <a href="{% url 'repmuni:reset_password' %}">
                            <button type="button" name="button">Restablecer Password</button>
                        </a>
                    </form>
                </div>

            </div>

        </div>

    </div>


{% endblock %}
