{% extends 'base.html' %}
{% block head %}
<title>Log In!</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="container">
                    Bienvenido al Sistema de Reportes de eventos de la <br>
                    Consejería Departamental para la Gestión del Riesgo <br>
                    de Norte de Santander <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
                <div class="well">
                    Has Salido del Sistema <br>
                    <h4>Hasta Pronto!!</h4>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
