{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>Mapa Reporte</title>
<script src="{% static 'Repmuni/Scripts/ScriptMapaReporte.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcV9t4hin5YG-KBRXb8rn4zD6XLoCmB7g&v=3&callback=initMap"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <div id="map"></div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-7">
            <form enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                <div class="row form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form.image }}
                            {# used when the form is submitted with error #}
                            {# if value of name field exists then show remove icon else add icon #}
                            {# if it is last form then display plus sign #}
                        </div>
                        <div class="form-group">
                            {{ form.imagedescription }}
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                        <button class="btn btn-danger btn-block" type="submit">Reportar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
