{% extends 'base.html' %}
{% block head %}
<title>Registro Exitoso</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>
                    Bienvenido al Sistema de Reportes de eventos de la
                    Consejería Departamental para la Gestión del Riesgo
                    de Norte de Santander.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="well">
                    <h3>Se ha registrado satisfactoriamente</h3>
                    <p>
                        Se ha Registrado de manera exitosa en nuestra aplicación, por favor ingrese con su usuario y contraseña
                    </p>
                </div>

            </div>

        </div>

    </div>


{% endblock %}