{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <div class="row">
            <main class="col-md-10 col-md-offset-1">
                <div class="well well-md center-text">
                    <h3>Password reset sent </h3>
                </div>
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
            </main>
        </div>
    </div>
</div>
{% endblock %}