{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <div class="row">
            <main class="col-md-10 col-md-offset-1">
                <div class="well well-md center-text">
                    <h3>Hemos Enviado un Email de recuperación de password </h3>
                </div>
                <p>
                    hemos enviado a su correo electrónico las instrucciones para recuperar su password, si una cuenta existe con el email que usted sumnistró.
                    si no recibe un email, verifique que ingresó la dirección de correo que registró o revise su bandeja de spam.
    </p>
            </main>
        </div>
    </div>
</div>
{% endblock %}