{% extends 'base.html' %}
{% block head %}
<title>Reset Password</title>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="container">
                    Olvidó su contraseña??<br>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="well">
                    restablecer password
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">E-Mail:</span>
                                {{ form.email }}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="input-group">
                                <button class="btn btn-warning btn-block" type="submit">Restablecer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>


{% endblock %}
