{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <div class="row">
            <main class="col-md-10 col-md-offset-1">
                <div class="well well-md center-text">
                    <h3>Se ha Cambiado exitosamente su contraseña :) </h3>
                </div>
                <p>
                    Su contraseña se ha cambiado exitosamente como usted lo ha solicitado
                </p>
            </main>
        </div>
    </div>
</div>
{% endblock %}