{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <div class="row">
            <main class="col-md-10 col-md-offset-1">
                <div class="well well-md center-text">
                    <h3>Entre el nuevo password </h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.non_field_errors }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                        {{ form.new_password1.help_text }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Password:</span>
                                {{ form.new_password1 }}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Confirmación:</span>
                                {{ form.new_password2 }}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock %}