{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row">
        <main class="col-md-10 col-md-offset-1">
            <div class="well well-md center-text">
                <h3>Entre el nuevo password </h3>
            </div>

                {% csrf_token %}
                {% crispy form %}
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <button class="btn btn-warning btn-block" type="submit">Restablecer</button>
                    </div>
                </div>
        </main>
    </div>
</div>

{% endblock %}